/* Tailwind utility tokens */
@theme {
  --font-sans: 'Lora', serif;
  --uvm-green: #154734;
  --uvm-yellow: #ffd100;
  --uvm-white: #f7f7f7;
  --uvm-blue: #00313c;
  --uvm-light-blue: #489fdf;
  --uvm-red: #dc582a;

  --black: #000000;
  --light-gray: #eeeeee;
  --gray: #cccccc;
  --dark-gray: #666666;
}

/* Adjust DaisyUI light theme variables */
/* For --color-primary, use it like bg-primary. color always prepends. */
[data-theme='light'] {
  /* Colors */
  --color-primary: var(--uvm-green);
  --color-primary-content: var(--uvm-white);
  --color-secondary: var(--uvm-blue);
  --color-secondary-content: var(--uvm-white);
  --color-accent: var(--uvm-yellow);
  --color-accent-content: var(--black);

  /* Variables */
  --header-height: 5rem;
  --transition: 0.2s;
  --transition-long: 0.3s;
  --min-screen-height: calc(100vh - var(--header-height));
  --max-page-width-table: 100rem;
  --max-page-width: 64rem;
}
