@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@plugin "daisyui/index.js";

/* Tailwind utility tokens. Used below */
@theme {
  --font-sans: "Lora", serif;
  --color-uvm-green: #154734;
  --color-uvm-yellow: #ffd100;
  --color-uvm-white: #f7f7f7;
  --color-uvm-blue: #00313c;
  --color-uvm-light-blue: #489fdf;
  --color-uvm-red: #dc582a;

  --color-black: #000000;
  --color-light-grey: #eeeeee;
  --color-grey: #cccccc;

  --transition: 0.25s;
}

/* Global CSS */
@layer base {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
    a {
        color: var(--color-uvm-light-blue);
        text-decoration: underline;
    }
    a:hover {
        color: var(--color-uvm-blue);
    }
}

/* DaisyUI reads own css variables, (--color-primary) from data-theme */
/* Page for themes and color names: https://daisyui.com/docs/themes/ */
/* For --color-primary, use it like bg-primary. color always prepends. */
[data-theme="light"] {
    --color-primary: var(--color-uvm-green);
    --color-primary-content: var(--color-white);
    --color-secondary: var(--color-uvm-blue);
    --color-secondary-content: var(--color-white);
    --color-accent: var(--color-uvm-yellow);
    --color-accent-content: var(--color-black);
}

/* Tanstack styling in data-table */
/* TODO: put this into table/+page.svelte? but then need global override anyway */
.i-wrapper {
  display: flex;
  justify-content: center;
}
.i-link {
  color: var(--color-uvm-green);
  text-decoration: none;
  padding: 0.25rem;
  border-radius: 3px;
  transition: var(--transition);
  font-size: 1.25rem;
}
.i-link:hover {
  color: var(--color-uvm-green);
  background-color: var(--color-grey);
}